* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "fragment mono";
  color: rgb(26, 26, 26);
  background-color: rgb(249, 244, 237);
}

a {
  text-decoration: none;
  color: rgb(26, 26, 26);
}

p {
  font-size: 14px;
}

button[type="main"] {
  background-color: yellow;
  border: none;
  border-radius: 50px;
  padding: 12px 48px 12px 48px;
  font-family: "fragment mono";
  width: fit-content;
  margin-top: 25px;
  display: flex;
  transition: 0.5s ease;
}

button[type="main"]::after {
  content: "";
  background-image: url(../images/arrow_down.svg);
  margin-left: 0;
  display: inline-flex;
  opacity: 0;
  transition: 0.5s ease;
  margin-top: -5px;
}

button[type="main"]:hover::after {
  margin-left: 15px;
  margin-top: 0;
  opacity: 1;
  background-size: 14px 14px;
  height: 14px;
  width: 14px;
}

button[type="main"]:hover {
  padding: 12px 40px 12px 55px;
}

h1,
h2,
h3,
h4 {
  font-family: syne;
  font-family: syne;
  font-weight: 700;
  text-transform: uppercase;
}

h1 {
  font-size: 3em;
  margin: 0;
}

h2 {
  font-size: 2.5em;
  margin: 0;
}

h4 {
  font-size: 1.35em;
  margin: 0;
}

/* ------------ NAV ------------*/
nav {
  width: 100%;
  height: 100px;
  /*background-color: aqua;*/
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: row;
  z-index: 50;
}

nav section {
  display: flex;
  align-items: center;
  padding: 0px 50px 0px 50px;
}

nav a:hover {
  text-decoration: line-through yellow 2px;
}

/* ------------ LOGO + MENU ------------*/

.logo {
  width: 30%;
  height: 100%;
  /*background-color: aquamarine;*/
}

.menu {
  width: 70%;
  height: 100%;
  /*background-color: azure;*/
  justify-content: flex-end;
}

.menu a:nth-child(2) {
  padding: 0px 40px 0px 40px;
}

/* ------------ MAIN ------------*/

main {
  padding: 0px 100px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.section {
  margin: 150px 0px;
  max-width: 1600px;
}

/* ------------ HEADER ------------*/

header {
  height: 100vh;
  max-height: 1000px;
  display: flex;
  align-items: center;
}

p {
  font-size: 14px;
}

header .header {
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-direction: row;
  padding-top: 50px;
}

header .content {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

header .image {
  width: 50%;
  display: flex;
  justify-content: flex-end;
  padding-left: 100px;
}

.image img {
  width: 100%;
  max-width: 500px;
  border-radius: 30px;
  filter: saturate(0.8);
  z-index: -10;
}

/* ------------ STUFF ------------*/

.stuff_overview {
  width: 100%;
}

.stuff_overview > .intro {
  width: 100%;
  max-width: 700px;
}

.teaser {
  display: flex;
  justify-content: space-between;
  gap: 50px;
  margin-top: 50px;
}

.teaser_element {
  max-width: 400px;
}

.img_wrapper {
  /* background-color: blueviolet; */
  width: 100%;
  padding-bottom: 120%;
  border-radius: 25px;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.teaser_img {
  position: absolute;
  height: 100%;
  transition: 0.5s ease;
  object-fit: cover;
  max-width: 400px;
  min-width: 100%;
  transform: scale(1);
}

.teaser_img:hover {
  transform: scale(1.1);
}
