button {
  font-family: "fragment mono";
}

button:hover {
  cursor: pointer;
}

.main-button {
  background-color: yellow;
  border: none;
  border-radius: 50px;
  padding: 12px 48px 12px 48px;
  width: fit-content;
  margin-top: 25px;
  display: flex;
  transition: 0.5s ease;
}

.main-button:hover {
  padding: 12px 40px 12px 55px;
}

.main-button::after {
  content: "";
  background-image: url(../../images/arrow_down.svg);
  margin-left: 0;
  opacity: 0;
  transition: 0.5s ease;
  margin-top: -9px;
}

.main-button:hover::after {
  margin-left: 15px;
  margin-top: 0;
  margin-bottom: 0;
  opacity: 1;
  background-size: 14px 14px;
  height: 14px;
  width: 14px;
}

.--rotation::after {
  transform: rotate(270deg);
  margin-top: 0px;
  bottom: -9px;
  position: relative;
}

.--rotation:hover::after {
  bottom: 0;
}

/* ------------ BUTTON SMALL ------------*/

.small-button {
  background-color: yellow;
  border-radius: 50px;
  border: none;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  transition: 0.5s ease;
  padding: 12px 18px 12px 18px;
  position: absolute;
  width: fit-content;
  height: fit-content;
  opacity: 0;
}

.small-button::after {
  content: "";
  background-image: url(../../images/arrow_right.svg);
  background-size: 40px 18px;
  width: 40px;
  height: 18px;
  opacity: 0;
  margin-left: -20px;
  transition: 0.5s ease;
}

.teaser_element:hover .small-button::after {
  opacity: 1;
  margin-left: 15px;
}

.teaser_element:hover .small-button {
  padding: 12px 38px 12px 48px;
  opacity: 1;
}
