.teaser {
  display: flex;
  justify-content: space-between;
  gap: 50px;
  margin-top: 50px;
}

.teaser a {
  max-width: 400px;
  width: 100%;
}

.img_wrapper {
  /* background-color: blueviolet; */
  width: 100%;
  padding-bottom: 120%;
  border-radius: 25px;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.teaser_img {
  position: absolute;
  height: 100%;
  transition: 0.5s ease;
  object-fit: cover;
  max-width: 400px;
  min-width: 100%;
  transform: scale(1);
}

.teaser_element:hover .teaser_img {
  transform: scale(1.1);
}

.teaser_element:hover h4 {
  padding: 0 0 0 10px;
}

.teaser_element h4 {
  transition: 0.5s ease;
}
